.container {
  width: 100%;
  flex-direction: column;
}

.album-detail-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  .album-cover {
    margin-right: 36px;
  }

  .album-tracks {
    margin-bottom: 100px;
  }
  .tracks {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 24px;
  }
}

.back {
  position: absolute;
  top: 90px;
  left: 24px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    font-size: 18px;
  }
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #181818;
  border-top: 1px solid #282828;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mini-cover {
    width: 90px;
    height: auto;
    position: relative;
  }

  .player-info {
    width: 100%;
    text-align: center;
    padding: 0 8px;
  }
  .player-button {
    margin: 0 24px;
  }

  .play {
    background-color: var(--secondary);
    border-radius: 1rem;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .pause {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  p {
    margin: 8px 0;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media only screen and (max-width: 600px) {
  div.album-detail-container {
    flex-direction: column;
    margin-bottom: 90px;
    .tracks {
      margin-top: 24px;
      width: 100%;
    }
    .album-cover {
      display: flex;
      margin: 0;
      justify-content: center;
      img {
        height: 152px;
        width: 152px;
      }
    }
  }

  .album-tracks {
    overflow: scroll;
    height: 100%;
    padding: 0 8px;
    margin-bottom: 100px;
  }

  .player {
    .mini-cover {
      z-index: 3;
    }
    .player-info {
      display: flex;
      align-items: center;
      width: 100%;
      text-align: left;
      padding: 0 8px;
      position: relative;
    }
    span,
    p {
      font-size: 12px;
    }

    span {
      animation: 13.2333s linear 0s infinite normal none running moving;
      position: absolute;
      width: 417px;
      height: 100%;
      left: 10px;
      top: 24px;
      padding-right: 20px;
    }
  }

  .back {
    left: 24px;
    &:hover {
      font-size: 18px;
    }
  }
}

@keyframes moving {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
