.card-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 24px 12px;
  cursor: pointer;
  .description-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 24px;
      white-space: nowrap;
    }
  }

  img{
    margin: 5px 0;
    max-width: 148px;
    max-height: 148px;
  }
}


@media only screen and (max-width: 600px) {
  .card-container{
    margin: 24px 8px;
    img{
      max-width: 112px;
      max-height: 112px;
    }
  }
}


@media only screen and (max-width: 600px) {
  .card-container{
    margin: 24px 6px;
  }
}