.input-container {
  width: 100%;
  label {
    color: var(--font-color-dark);
    font-size: 16px;
  }
  input {
    width: 100%;
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary);
    font-size: var(--font-size-48);
    margin: 8px 0;
    padding: 5px 0;
    color: var(--font-color-light);
    ::placeholder { 
      color: var(--font-color-dark);
    }
    &:focus-visible {
      outline: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .input-container {
    label {
      font-size: 12px;
    }
    input {
      font-size: 14px;
    }
  }
}
